.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  h1 {
    text-align: center;
  }
  .post {
    margin-bottom: 40px;

  }
  .post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .post-date {
    color: #888;
    margin-bottom: 10px;
  }
  .post-content {
    line-height: 1.5;
  }
  p{
    color: white ;
  }